@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #121212;
  --accent-color: #D14050;
  --gradient-start: #91609F;
  --gradient-end: #121212;
  --text-color: #FFFFFF;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif; 
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

a {
  @apply text-[#9999ff];
}

img {
  @apply border-none opacity-65 hover:opacity-100;
}

main {
  padding: 4rem 5vw 2rem 6vw;
}

.container {
  @apply flex min-h-screen;
  max-width: none;
}

.sidebar-container {
  @media screen and (min-width: 769px) {
    width: 40%;
  }
}

.sidebar {
  @apply h-screen px-12 flex flex-col justify-between;
  background-image: url('../assets/images/13th-floor.png');
  background-color: #333;
  background-size: 500px;
  background-position: right -94px;
  background-repeat: no-repeat;
}

.sidebar-header {
  @apply  hidden md:flex items-end justify-center pt-16;
}

.logo-text {
  @apply text-[var(--accent-color)] relative pr-4 text-right;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.5rem;
  margin-bottom: auto;
}

.logo-text::before {
  content: "_";
  @apply block absolute right-0;
  /* font-size: 1.75rem; */
  opacity: 0.75;
  top: -0.09rem;
  width: 0.75rem;
}

nav ul {
  @apply list-none text-right mb-10;
}

nav ul li {
  @apply py-2 px-4 hover:bg-[var(--main-bg-color)];
}

nav ul li a {
  @apply text-[var(--text-color)] no-underline;
}

h1 {
  @apply text-[1.667rem] mb-12;
  margin-left: -2rem;
}

h1::before {
  content: "__ ";
}

h2 {
  @apply py-4;
}

h3 {
  @apply py-4;
}

p {
  @apply text-[#ddd] mb-4 leading-relaxed;
}

.float-to-right {
  @apply float-right mb-8 lg+:-mr-16 ml-8;
}

.float-to-left {
  @apply float-left mb-8 mr-8 -ml-16;
}

@media (max-width: 768px) {
  .container {
    @apply flex-col;
  }

  nav {
    margin: 0 -3rem;
    padding: 0 3vw;
    background-color: #333;
  }

  .sidebar {
    @apply w-full;
    background-size: auto;
    background-position: right -294px;
  }
}