@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #121212;
  --accent-color: #D14050;
  --gradient-start: #91609F;
  --gradient-end: #121212;
  --text-color: #FFFFFF;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif; 
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

a {
  @apply text-[#9999ff];
}

img {
  @apply border-none opacity-65 hover:opacity-100;
}

.container {
  @apply flex min-h-screen;
}

.sidebar {
  @apply w-1/4 max-w-[500px] h-screen p-4 flex flex-col justify-between;
  background-image: url('/13th-floor.png');
  background-color: #333;
  background-size: 500px;
  background-position: right -94px;
  background-repeat: no-repeat;
}

.sidebar-header {
  @apply flex items-end justify-center pt-16;
}

.logo-text {
  @apply text-4xl text-[var(--accent-color)] font-bold relative pr-8 text-right;
}

.logo-text::before {
  content: " ";
  @apply block border-4 border-[var(--accent-color)] h-3 w-3 absolute top-3 right-0 rotate-45;
}

nav ul {
  @apply list-none text-right mb-10;
}

nav ul li {
  @apply py-2 px-4 hover:bg-[var(--main-bg-color)];
}

nav ul li a {
  @apply text-[var(--text-color)] no-underline;
}

h1 {
  @apply text-[1.667rem] mb-12 text-center;
}

h2 {
  @apply py-4;
}

h3 {
  @apply py-4;
}

p {
  @apply text-[#ddd] mb-4 leading-relaxed;
}

.float-to-right {
  @apply float-right mb-8 -mr-16 mt-8 ml-8;
}

.float-to-left {
  @apply float-left mb-8 mr-8 mt-8 -ml-16;
}

@media (max-width: 768px) {
  .container {
    @apply flex-col;
  }

  .sidebar {
    @apply w-full;
  }
}