@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-darkest: #121212;
  --color-dark-rose: #d14050;
  --color-violet: #91609f; /* not in use */
  --color-grey-blue: #576790;
  --color-grey-light: #ddd;
  --color-grey: #999;
  --color-grey-middle: #666;
  --color-grey-dark: #333;
  --color-green: #408040;
  --sidebar-offset: 48px;
  --sidebar-width: 40vw;
  --sidebar-max-width: 500px; /* see md:max-w-[500px] in Navigation.tsx */
}

/* main tags */

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: var(--color-grey-light);
  /* background-color: var(--color-darkest); */
}

body::after {
  content: " ";
  background-color: var(--color-darkest);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}

main {
  padding: 4rem 5vw 2rem 6vw;
  height: 100vh;
  width: 60vw;
}

h1 {
  @apply text-[2.3rem] mb-6 -mt-2;
  color: var(--color-grey-light);
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
  transition: 0.3s;
}

h1:hover {
  color: #fff;
}

h2 {
  @apply pt-4 pb-6 text-2xl;
}

h3 {
  @apply py-4 font-bold text-xl;
}

h4 {
  margin-bottom: 0.5rem;
  font-weight: 100;
  font-size: 1.15rem;
  color: #fff;
}

/* regular tags */

a {
  @apply text-[#9999ff];
}

audio {
  width: 300px;
  height: 35px;
  opacity: 0.75;
}

blockquote {
  font-style: italic;
  margin: 1.3rem;
  padding-left: 1.3rem;
  border-left: solid 0.15vw var(--color-grey);
}

cite {
  display: block;
  font-weight: 100;
  color: #fff;
  padding: 0 1rem 1rem;
}

figure {
  padding: 1rem 0;
}

figcaption {
  font-size: 15px;
  font-weight: 100;
  text-align: center;
  padding: 0.75rem 0 0;
}

p {
  @apply mb-4 leading-relaxed;
}

/* folded tags */

aside nav {
  max-height: calc(100vh - 10px); /* check the value 10px at Navigation.tsx */
  overflow: auto;
}

figure img {
  margin: auto;
}

main div.p {
  line-height: 1.625;
}

main ul {
  list-style: square;
}

main ul,
main ol {
  margin: initial;
  padding: 0 3rem 1rem;
}

nav ul {
  @apply mb-4;
}

/* folded classes inside tags*/

main li {
  line-height: 1.625;
}